.bg-grid {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
                    linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 40px 40px;
}

.animate-grid {
  animation: scrollGrid 30s linear infinite;
}

@keyframes scrollGrid {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 40px;
  }
}
